body {
    background-color: #1E90FF;
    margin: 0;
    padding: 0;
}
.container {
    margin-top:50px;
}
.container .card h1{
    text-align: center;
}
.container button{
    align-self: center;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
.container .row {
    align-items: center;
}
button{
    margin-left:20px
}